/* Styles for the tabs component */
.tabs-container {
   

}

.tabs {
    display: flex; /* Align tabs horizontally */
    margin-bottom: 20px; /* Space between tabs and content */
}

.tab-button {
    background: #ddd; /* Light background for tabs */
    border: 1px solid #ccc; /* Border around tabs */
   
    cursor: pointer; /* Cursor changes to pointer on hover */
    margin-right: 5px; /* Space between tabs */
    border-radius: 5px; /* Rounded corners for tabs */
}

.tab-button.active {
    background: #333; /* Dark background for active tab */
    color: white; /* Text color for active tab */
}

.tab-content {
    border: 1px solid #ccc; /* Border around the tab content */
height: 600px;
    border-radius: 5px; /* Rounded corners for content area */
}


.tab-panel.active {
    display: block; /* Show active tab panel */
}